<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All!</title>
</head>
<body>
{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
<h1 id="blogtitle" class="font-weight-bold text-center">Blog</h1>
<h3 class="text-center mb-5"><b>Nastia has written {{ blogs.count }} blog{{ blogs.count|pluralize }}</b></h3>

{% for blog in blogs %}
<div class="row justify-content-center my-3">
  <div class="col-md-10">
    <a href="{% url 'blog:detail' blog.id %}">
        <h2>{{ blog.title }}</h2>
    </a>
    <h5 class="text-muted">{{ blog.time|date:'M d Y'|upper }}</h5>
    <h4>{{ blog.description|striptags|truncatechars:70 }}</h4>
  </div>
</div>
{% endfor %}

{% endblock %}
</body>
</html>